1 VERSIONINFO
FILEVERSION     1,0,0,666
PRODUCTVERSION  1,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Roberto Metere"
      VALUE "FileDescription", "Custom-Ini Reader"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "cinir"
      VALUE "LegalCopyright", "Roberto Metere"
      VALUE "OriginalFilename", "cinir"
      VALUE "ProductName", "cinir library"
      VALUE "ProductVersion", "1.2"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
